<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/join/style.css" />
    <link rel="stylesheet" href="/join/src/shared/styles/mobile-navbar.css" />
    <link rel="shortcut icon" href="/join/assets/img/join_favicon.svg" type="image/x-icon">
    <script src="/join/src/shared/scripts/app.js"></script>
  </head>

  <body>
    <div class="test-container">
      <div class="mobile-navbar">
        
        <img class="join-logo-sidebar" src="/join/assets/img/Join-logo-white.svg" alt="">
        <div id="navbar-links" class="navbar-links-box">
        <a id="summary" class="navbar-icon-container" href="/join/src/features/summary/summary.html?icon=summary">
          <img
            class="navbar-icon"
            src="/join/assets/img/summary-mobile-icon.png"
            alt=""
          />Summary
        </a>

        <a id="board" class="navbar-icon-container" href="/join/src/features/board/board.html?icon=board">
          <img
            class="navbar-icon"
            src="/join/assets/img/board-mobile-icon.png"
            alt=""
          />Board
        </a>

        <a id="addtask" class="navbar-icon-container" href="/join/src/features/add-task/add-task.html?icon=addtask">
          <img
            class="navbar-icon"
            src="/join/assets/img/add-task-moblie-icon.png"
            alt=""
          />Add Tasks</a
        >

        <a id="contacts" class="navbar-icon-container" href="/join/src/features/contacts/contacts.html?icon=contacts">
          <img
            class="navbar-icon"
            src="/join/assets/img/contacts-mobile-icon.png"
            alt=""
          />Contacts
        </a>
          </div>
        <div class="sidebar-link-container">
            <a id="privacy" href="#" onclick="sendToPrivacyPolicyFromNavbar()">Privacy Policy</a>
            <a id="legal" href="#" onclick="sendTolegalNoticeFromNavbar()">Legal notice</a>
        </div>
      </div>
    </div>
  </body>
</html>


